/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&display=swap')



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador. 
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
}

.logo {
    width: 120px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    background-color: #fbfbfb;
   
    position: fixed;
   top: 0;
   left: 0;
   box-shadow: 0 3px 10px -5px #5f5f5f;
}

ul#menu {
    display: flex;
    font-size: 20px;
    list-style: none;
}
li.menu-item a {
    padding: 16px;
    display: inline-block;
}

li.menu-item:hover {
    background: rgba(175, 89, 158, 0.3);
    transition: background-color 0.3s;
}

/* main */

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 100vh;
    padding-bottom: 10px;

    scroll-margin-top: 100px;
    min-height: 100vh;
    padding-top: 20px;
}

ul {
    list-style: none;
}

#bio-pic{
    width: 300px;
    margin: 50px;
    border-radius: 60%;
    float: left;

}

h1 {
    display: flex;
    justify-content: left;
    font-size: 48px;
}

p {
    padding-top: 20px ;
    padding-bottom: 20px;
}

#buttom {
    font-size: 20px;
    background-color: #af599e;
    color: #fbfbfb;
    padding: 2%;
    border-radius: 25%;
    
}

a {
    text-decoration: none;
    color: inherit;
}

.Logos {
    display: flex;
    display: inline-block;
    
    background-color: #fbfbfb;
    align-items: flex-end;
    padding: 20px;
}

#Logo {
    width: 90px;
}

.Logos a :hover {
    background-color: rgb(236, 150, 230);
}

#contacto {
    flex: column;
    padding: 40%;
    margin: 15%;
    color: #dd9bcf;
}

h2 {
    font-size: 32px;
    text-align: center;
}

.second {
    text-align: center;
}

main {
    max-width: 1200px;
    margin: auto;
    padding-top: 120px;
}

footer {
    background-color: #af599e;
    color: #fff;
    padding: 3%;
    display: flex;
    justify-content: center;
    
}
/* Para quitar los puntos a los items de listas */


/* Para que los enlaces hereden el color de texto y no tengan subrayado */


/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
















/* main */



   
/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

